*{
    box-sizing: border-box;
}
::placeholder{
    color: #999999;
}
body{
    font-size: 0.14rem;
    font-family: "MicroSoft Yahei";
    background-color: #f8f8f8;
}
.topNav{
    position: relative;
    width: 7.5rem;
    height: 0.88rem;
    background-color: #fff;
    padding: 0 0.2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topNav h2{
    font-weight: normal;
    font-size: 0.34rem;
    text-align: center;
}
.topNav .backBtn img{
    display: block;
    width: 0.23rem;
    height: 0.42rem;
}
.topNav .mine img{
    display: block;
    width: 0.35rem;
    height: 0.4rem;
}

/* 内容 */
.containerBox{
    position: relative;
    width: 7.5rem;
    padding: 0.2rem;
    margin: 0 auto;
}
.containerBox .inner{
    position: relative;
}
.innerBlock{
    padding: 0.2rem;
    background-color: #fff;
    border-radius: 0.15rem;
    margin-bottom: 0.2rem;
}

/* 付款方式 */
.bankTab{
    padding: 0 0.2rem;
}
.bankTab .tabItem{
    height: 1rem;
    overflow: hidden;
    border-bottom: 0.01rem solid #e5e5e5;
}
.bankTab .tabItem:last-child{
    border-bottom-width: 0;
}
.bankTab .tabItem .itemTop{
    height: 1rem;
    background: url(../img/icon_down.png) no-repeat right center;
    background-size: .24rem .13rem;
    display: flex;
    align-items: center;
}
.bankTab .tabItem .itemTop img{
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.18rem;
}
.bankTab .tabItem .itemTop span{
    max-width: 5.5rem;
    color: #333333;
    font-size: 0.28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bankTab .tabItem .itemCont{
    padding: 0.2rem 0;
    color: #666666;
    font-size: 0.26rem;
}
.bankTab .tabItem .itemCont p{
    display: block;
    max-height: 100%;
    line-height: 0.38rem;
}
.bankTab .tabItem.action{
    height: 100%;
}
.bankTab .tabItem.action .itemTop{
    background-image: url(../img/icon_top.png);
}

.payewm{
    height: 2.88rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.payewm img{
    width: 2.05rem;
    height: 2.05rem;
}

/* 咨询 */
.contact{
    height: 2.97rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact .leftewm{
    font-size: 0.22rem;
    color: #666666;
}
.contact .leftewm img{
    display: block;
    width: 1.75rem;
    height: 1.75rem;
}
.contact .rightLink button{
    display: block;
    width: 2.4rem;
    height: 0.7rem;
    text-align: center;
    font-size: 0.28rem;
    color: #333333;
    border: 0.01rem solid #cccccc;
    background-color: #fff;
    border-radius: 0.35rem;
    outline: none;
}
.contact .rightLink button img{
    margin-right: 0.1rem;
}
.contact .rightLink button img,
.contact .rightLink button span{
    display: inline-block;
    vertical-align: middle;
}
.contact .rightLink button:first-child{
    margin-bottom: 0.25rem;
}

/* 留言 */
.leaveMsg{
    padding: 0.2rem 0.2rem 0.2rem;
}
.leaveMsg h4{
    font-size: 0.32rem;
    margin-bottom: 0.2rem;
    color: #333333;
    font-weight: normal;
}
.leaveMsg p{
    line-height: 0.7rem;
    font-size: 0.22rem;
    text-align: right;
    color: #999999;
}
.leaveMsg input{
    width: 100%;
    height: 0.8rem;
    border: 0.01rem solid #e5e5e5;
    border-radius: 0.1rem;
    font-size: 0.28rem;
    color: #333333;
    margin-bottom: 0.2rem;
}
.leaveMsg input::placeholder,
.leaveMsg textarea::placeholder{
    color: #999999;
}
.leaveMsg input,
.leaveMsg textarea{
    padding: .25rem;
}
.leaveMsg textarea{
    width: 100%;
    height: 3.36rem;
    border: 0.01rem solid #e5e5e5;
    border-radius: 0.1rem;
    font-size: 0.28rem;
    color: #333333;
}
.leaveMsg button{
    width: 100%;
    height: 0.8rem;
    border: 0.01rem solid #ff6400;
    border-radius: 0.1rem;
    background: #ff6400;
    font-size: 0.28rem;
    color: #fff;
    margin-bottom: 0.2rem;
}


/* 关于媒介匣 */
.aboutTab{
    padding: 0.3rem 0.2rem 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutTab .tabItem{
    width: 2rem;
    height: 0.66rem;
    line-height: 0.66rem;
    text-align: center;
    font-size: 0.26rem;
    color: #666666;
    background-color: #f5f5f5;
    border-radius: 0.05rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 .1rem;
}
.aboutTab .tabItem.action{
    background-color: #ff6400;
    color: #fff;
}
.aboutMsg .msgBox{
    display: none;
}
.aboutMsg .msgBox.current{
    display: block;
}
.aboutMsg .msgItem{
    display: block;
    max-height: 100%;
}
.aboutMsg .msgItem .msgTitle{
    padding-left: 0.2rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
    color: #fff;
    background-color: #ff6400;
    border-radius: 0.05rem;
    margin-bottom: 0.3rem;
}
.aboutMsg .msgItem .msgCont{
    font-size: 0.24rem;
    color: #333333;
}
.aboutMsg .msgItem .msgCont p{
    text-indent: 2em;
    margin-bottom: 0.25rem;
}


/* 解决方案收藏 */
.collection .collectItem{
    border-radius: 0.15rem;
    background-color: #fff;
    padding: 0.2rem;
    margin-bottom: 0.1rem;
    display: flex;
    align-items: center;
}
.collection .collectItem .leftImg{
    min-width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.2rem;
}
.collection .collectItem .leftImg img{
    width: 100%;
    height: 100%;
    border-radius: 0.1rem;
}
.collection .collectItem .rightMsg{
    width: 100%;
}
.collection .collectItem .rightMsg .title{
    display: block;
    font-size: 0.28rem;
    color: #333333;
    line-height: 1;
    margin-bottom: 0.5rem;
}
.collection .collectItem .rightMsg .tools{
    overflow: hidden;
}
.collection .collectItem .rightMsg .tools a{
    float: right;
    height: 0.4rem;
    border: 0.01rem solid #666666;
    font-size: 0.26rem;
    color: #666666;
    margin-left: 0.1rem;
    border-radius: 0.2rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
}
.collection .collectItem .rightMsg .tools .check{
    border-color: #ff6400;
    color: #ff6400;
}
.more{
    line-height: 0.5rem;
    font-size: 0.28rem;
    color: #666666;
    text-align: center;
}


/* 推广返利 */
.topTab{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.2rem;
}
.topTab .tabItem{
    font-size: 0.28rem;
    color: #333333;
    border-bottom: 0.02rem solid #f8f8f8;
    padding: 0.2rem 0 0.17rem;
}
.topTab .tabItem.action{
    color: #ff6400;
    border-bottom-color: #ff6400;
}

.amount{
    font-size: 0.28rem;
    color: #333333;
}
.amount span{
    color: #ff6400;
}
.extractRecord .recordTab{
    margin-bottom: 0.18rem;
}
.extractRecord .recordTab .tabItem{
    float: left;
    font-size: 0.28rem;
    color: #333333;
    line-height: 1;
    padding: .17rem .26rem;
    background-color: #f3f3f3;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}
.extractRecord .recordTab .tabItem.action{
    background-color: #ff6400;
    color: #fff;
}
.extractRecord .tabBlock{
    font-size: 0.28rem;
    color: #333333;
}
.extractRecord .tabBlock .blockItem{
    display: none;
}
.extractRecord .tabBlock .blockItem.action{
    display: block;
}
.extractRecord .tabBlock .blockItem .itemTitle{
    font-size: 0.28rem;
    color: #ff6400;
    line-height: 1;
    margin: 0.2rem 0;
}
.extractRecord .tabBlock table{
    width: 100%;
}
.extractRecord .tabBlock table,
.extractRecord .tabBlock table th,
.extractRecord .tabBlock table td{
    border: 0.01rem solid #e5e5e5;
    font-weight: normal;
    text-align: center;
}
.extractRecord .tabBlock table thead{
    background-color: #f8f8f8;
}
.extractRecord .tabBlock table th{
    border-color: #d7d7d7;
}
.extractRecord .tabBlock table th,
.extractRecord .tabBlock table td{
    padding: .25rem 0;
}
.extractRecord .tabBlock table td{
    color: #999999;
}


/* 解决方案收藏 */
.friendOrder .orderItem{
    border-radius: 0.15rem;
    background-color: #fff;
    padding: 0.2rem;
    margin-bottom: 0.1rem;
    display: flex;
    align-items: center;
}
.friendOrder .orderItem .leftImg{
    min-width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.2rem;
}
.friendOrder .orderItem .leftImg img{
    width: 100%;
    height: 100%;
    border-radius: 0.1rem;
}
.friendOrder .orderItem .rightMsg{
    width: 100%;
}
.friendOrder .orderItem .rightMsg .title{
    display: block;
    font-size: 0.28rem;
    color: #333333;
    line-height: 1;
    margin-bottom: 0.5rem;
}
.friendOrder .orderItem .rightMsg .orderPrice{
    font-size: 0.28rem;
    color: #333333;
}
.friendOrder .orderItem .rightMsg .orderPrice .money{
    display: inline-block;
    min-width: 1.06rem;
    color: #ff6400;
    margin-right: 1.25rem;
}


/* 资金提现 */
.diversion{
    padding: .4rem .2rem;
    text-align: center;
    line-height: 1;
}
.diversion p{
    font-size: 0.28rem;
    color: #333333;
    margin-bottom: 0.2rem;
}
.diversion .money{
    font-size: 0.28rem;
    color: #ff6400;
}
.diversion .money span{
    font-size: 0.6rem;
}
.diversion .tools{
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-around;
}
.diversion .tools .extractBtn,
.diversion .tools .diversionBtn{
    width: 3.25rem;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.26rem;
    color: #333333;
    border: 0.01rem solid #cccccc;
    border-radius: 0.7rem;
    background-color: #fff;
}
.diversion .tools .extractBtn{
    border-color: #ff6400;
    background-color: #ff6400;
    color: #fff;
}
.diversion .linkTo{
    display: block;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.28rem;
    color: #fff;
    background-color: #ff6400;
    border-width: 0;
    border-radius: .1rem;
    margin-top: 0.6rem;
}

.diversion2{
    padding: 0;
    font-size: 0.28rem;
    color: #666666;
}
.diversion2 label{
    padding: 0 0.2rem;
    height: 0.85rem;
    display: flex;
    align-items: center;
    border-bottom: 0.01rem solid #e5e5e5;
}
.diversion2 label:last-child{
    border-bottom-width: 0;
}
.diversion2 span{
    min-width: 1.7rem;
    white-space: nowrap;
}
.diversion2 input{
    width: 100%;
    font-size: 0.26rem;
    color: #999999;
    border-width: 0;
    outline: none;
    padding: 0 0.2rem;
    caret-color: #000000;
}
.diversion2 .allMoney{
    min-width: 1.7rem;
    height: 0.5rem;
    background-color: #ff6400;
    font-size: 0.26rem;
    color: #fff;
    border-width: 0;
    border-radius: 0.5rem;
}
.diversion2 input::placeholder{
    color: #999999;
}
.diversion2 ~ button{
    width: 100%;
    height: 0.8rem;
    font-size: 0.28rem;
    color: #fff;
    background-color: #ff6400;
    border-width: 0;
    border-radius: .1rem;
}
.hint{
    text-align: right;
    color: #999999;
    font-size: 0.22rem;
    line-height: 1;
    margin-bottom: 0.2rem;
}


/* 财务中心 */
.warmPrompt{
    display: block;
    max-height: 100%;
    padding-bottom: 0.4rem;
    font-size: 0.28rem;
    color: #333333;
}
.warmPrompt .promptTitle{
    color: #ff6400;
    line-height: 1;
    margin: 0.2rem 0;
}
.warmPrompt p{
    line-height: 0.4rem;
}

/* 在线充值 */
.changeMoney .moneyBlock .blockTitle{
    font-size: 0.28rem;
    color: #333333;
    margin: 0.2rem 0 0.3rem;
}
.changeMoney .moneyBlock .moneyTab{
    font-size: 0.28rem;
    color: #666666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.changeMoney .moneyBlock .moneyTab .tabItem{
    position: relative;
    text-align: center;
    width: 2.1rem;
    height: 0.7rem;
    line-height: 0.7rem;
    margin-bottom: 0.2rem;
}
.changeMoney .moneyBlock .moneyTab .tabItem input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-opacity: 0;
    opacity: 0;
}
.changeMoney .moneyBlock .moneyTab .tabItem span{
    display: block;
    border: 0.01rem solid #cccccc;
    border-radius: .05rem;
    background-color: #fff;
}
.changeMoney .moneyBlock .moneyTab .tabItem input:checked ~ span{
    border-color: #ff6400;
    background-color: #ff6400;
    color: #fff;
}
.changeMoney .moneyBlock .moneyInp{
    width: 100%;
    height: 0.7rem;
    padding-left: 0.2rem;
    font-size: 0.28rem;
    color: #333333;
    border: 0.01rem solid #cccccc;
    outline: none;
    caret-color: #000000;
    margin-bottom: 0.2rem;
}
.changePay{
    padding: 0;
}
.changePay label{
    position: relative;
    height: 100px;
    border-bottom: 0.01rem solid #e5e5e5;
    padding: 0 0.2rem;
    font-size: 0.28rem;
    color: #333333;
    display: flex;
    align-items: center;
}
.changePay label:last-child{
    border-bottom-width: 0;
}
.changePay label input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.changePay label .icon_radio{
    width: 0.32rem;
    height: 0.32rem;
    background: url(../img/icon_radio.png) no-repeat center center;
    background-size: 100%;
    margin-right: 0.2rem;
}
.changePay label input:checked ~ .icon_radio{
    background-image: url(../img/icon_radio_b.png);
}
.changePay label .payImg{
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.1rem;
}

.explain{
    display: block;
    max-height: 100%;
    padding: 0.4rem 0.2rem;
    font-size: 0.26rem;
}
.explain p{
    color: #333333;
    line-height: 0.5rem;
}
.explain .link{
    display: inline-block;
    line-height: 0.5rem;
    font-size: 0.26rem;
    color: #ff6400;
    border: 0.01rem solid #ff6400;
    border-radius: .5rem;
    background-color: #fff;
    padding: 0 0.3rem;
    margin-top: 0.2rem;
}
.recharge{
    width: 100%;
    height: 0.88rem;
    border: 0.01rem solid #ff6400;
    border-radius: 0.1rem;
    background: #ff6400;
    font-size: 0.28rem;
    color: #fff;
    margin-bottom: 0.2rem;
}